body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

option {
  padding: 20px;
}

#searchBar {
  margin: 1rem 2.5rem;
  display: flex;
}

#selected {
  margin-left: 2rem;
  color: rgb(41, 97, 116);
}

input {
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 0;
}

section {
  width: 250px;
  padding: 2.5rem;
}

.title {
  display: flex;
  height: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 2rem;
}

h4 {
  margin: 0.2rem;
}

footer {
  display: flex;
  background-color: lightblue;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2rem;
}
