body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

option {
  padding: 20px;
}

#searchBar,
#seriesSearchBar {
  padding: 1rem 2.5rem;
  display: flex;
  background-color: rgb(138, 76, 76);
}

.seriesTitle {
  padding-top: 0.1rem;
}

#selected {
  margin-left: 2rem;
  color: rgb(41, 97, 116);
}

h1 {
  text-align: center;
}

#seriesSearchInput,
#selectedSeries,
#searchInput,
#episodeFilter,
#seriesFilter {
  margin-left: 2rem;
  padding-left: 3px;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 0;
}

.episodeSection {
  width: 250px;
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 5px;
}

.episodeArticle {
  padding: 0.5rem;
}

.episodeImage {
  margin-bottom: 0;
}

.seriesClass {
  box-shadow: 5px 10px lightgray;
  border-radius: 25px;
  margin: 2rem;
}

.seriesDescription {
  display: flex;
  margin-right: 2rem;
  padding: 0.5rem 2rem;
}

.seriesDescription > img {
  height: 250px;
}

.seriesArticle {
  padding: 2rem;
  width: 50%;
}

.title {
  display: flex;
  min-height: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 2rem;
}

h4 {
  margin: 0.2rem;
}

footer {
  display: flex;
  background-color: lightblue;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2rem;
}
